version: "3.7"

services:
  api:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./api:/api
    command: >
      sh -c "python manage.py wait_for_db &&
      python manage.py migrate && 
      gunicorn trackapi.wsgi -b 0.0.0.0:8000"
    environment:
      - SECRET_KEY=ws@%#is@7oh*f+ji^olsu&l%f5-*ls2x)b5efd@@l*xp0@ha!*
      - DEBUG=0
      - DB_HOST=db
      - DB_NAME=trackerapi
      - DB_USER=trackerapi
      - DB_PASS=trackerapi
    depends_on:
      - db

  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_DB=trackerapi
      - POSTGRES_USER=trackerapi
      - POSTGRES_PASSWORD=trackerapi
